*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif;
    color: white;
    background-color: black;
}
#grid-layout{
    display: grid;
    grid-template-columns: 1fr 750px 270px 1fr;
    grid-template-areas:". content sidebar .";
    margin: 40px;
}
#sidebar-content{
    grid-area: sidebar;
    padding: 18px;
    border: 1px solid white;
    border-radius: 50px;
}
#sidebar-content h2{
    background-color: black;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
}
#sidebar-content ul{
    border: 1px solid white;
    padding: 0px 12px;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    margin: 0px 0px 36px;
    color: white;
    border-radius: 10px;
}
#main-content{
    grid-area: content;
    margin: 20px 0px;
    border: 2px solid white;
    padding: 36px;
    font-size: 18px;
    border-radius: 50px;
    margin-right: 50px;
    text-align: center;

}
#sidebar-content a{
    color: lightyellow;
    text-decoration: none;
}
#sidebar-content li{
    border-bottom: 2px solid rgb(199, 199, 96);
    padding: 8px 0px;
    color: white;
}
#sidebar-content li:last-child{
    border-bottom: 0px;
}
#undertale-img{
    width: 210px;
}
#main-content p{
    font-size: 17px;
}
#main-content h3{
    text-decoration: underline;
    color: yellow;
}
#main-undertale-img{
    width: 60px;
    margin-left: 24px;
}
#sans{
    width: 70px;
}
#main-content hr{
    color: white;
    margin-top: 50px;
}
#Characters p{
    color: yellow
}#main-content p b{
    color: rgb(236, 14, 14);
}#main-content div a{
    color: yellow;
    text-decoration: none;
    border: solid white;
    padding: 10px;
    border-radius: 20px;

}
#main-undertale-img-size{
    width: 110px;
    margin-left: 24px;
}
#main-content ul li{
    text-align: left;
    margin: 10px;
}
#Asriel{
    width: 250px;
    margin-left: 24px;
}
#undertale-img{
    border-radius: 20px;
    border: 1px solid white;
    margin-left: 11px
}
#Logo{
    width: 25%;
    
}