*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#navbar{
    background-color: #223439;
    border-bottom:3px solid black;
    
}
#navbar-content{
    display: flex;
    align-items: center;
    margin: 0px;
    border-bottom: 3px solid black;
    background:
    linear-gradient(to top, rgb(123, 122, 122), rgb(34, 34, 59));
}
#navbar-content a{
    text-decoration: none;
    border: 3px solid #9E51A0;
    padding: 8px 2px;
    font-size: 18px;
    margin-right: 24px;
    text-align: center;
    font-weight: bold;
    color: #223439;
    background-color: #9E51A0;
    min-width: 150px;
    border-radius: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#navbar-content a:hover{
    background-color: #b272b5;
    border: 3px solid #b272b5;
    color: #4a717b;

}
.dropdown-container{
    display: flex;
    position: relative;
}
.dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25, visibility 0.25;
    z-index:10;
}
.dropdown-container:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a{
    background:
        linear-gradient(to bottom, rgb(186, 84, 186), rgb(113, 62, 62));
    width: 100%;
    min-width: 200px;
}
#logo{
    width:12px;
    margin-right:auto;
    margin-left: 24px;
    min-width: 150px;
    
}
#navbar-bot{
    display: flex;
    background:
        linear-gradient(to bottom, rgb(186, 84, 186), rgb(113, 62, 62));
    border-bottom: 3px solid black;
    justify-content: space-between;
    padding: 12px;
    border-top: 3px solid black;
}
#navbar-bot a{
    text-decoration: none;
    padding: 6px 38px;
    font-size: 20px;
    border: 3px solid black;
    margin: 0px auto;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#navbar-bot a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: rgb(168, 165, 165);
}
#hero{
    background-image: url(../images/Hero.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    position: center center;
    height: 60vh;
    min-width: 481px;
    padding: 24px;
    margin: 0px auto;
    color:white;
}
#hero h1{
    font-size:48px;
    margin-right: 2vw;
}
#hero h3{
    font-size: 20px;
    margin-right: 6vw;
}
#hero a{
    text-decoration: none;
    border: 3px solid black;
    padding: 6px 48px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 4vh 9vw 0px 2vw;
    font-size: 24px;
    margin-right: 13vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#hero a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: #4a717b;
}
.info-box{
    border: 8px inset #9E51A0;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8vh;
    background-color: #e389e8;
}
.info-box h1{
    font-size: 38px;
    margin: 4vw 0px 2vh 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info-box p{
    text-align: center;
    padding: 24px;
    font-size: 18px;
    max-width: 1000px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;
}
.info-box img{
    border-radius: 24px;
    border: 10px solid #223439;
    max-width: 500px;
}
.card-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "slot1 slot2 slot3";
    text-align: center;
    padding: 30px;
}
.cards{
    border: 8px outset #9E51A0;
    width: 80%;
    margin: auto;
    background-color: #e389e8;
    max-width: 800px;
    min-width: 250px;
}
.cards img{
    display: flex;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 24px;
    border: 6px solid #223439;
}
.cards p{
    padding: 24px;
}
.card-content a{
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    border: 3px solid black;
    background-color: black;
    padding: 6px 80px;
    margin-bottom: 10px;
    font-size: 24px;
    border-radius: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-content a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: #4a717b;
}
#card1{
    grid-area: slot1;
}
#card2{
    grid-area: slot2;
    border: 8px inset #9E51A0;
}
#card3{
    grid-area: slot3;
}
#footer-content{
    min-width: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px auto;
    border: 3px solid #9E51A0;
    background:
    linear-gradient(to bottom, rgb(186, 84, 186), rgb(113, 62, 62));
    padding: 10px;
}
#footer-a a{
    justify-content: space-between;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 3px solid black;
    padding: 6px 48px;
    margin: 24px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#footer-a a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: #4a717b;
}
    .menu-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "slot-1 slot-2 slot-3"
            "slot4 slot5 slot6"
            "slot7 slot8 slot9";
        width: 80%;
        margin: 0px auto;
        background-color: beige;
        text-align: center;
        padding: 10px 32px;
    }
    .menu-cards img{
        width: 240px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 24px;
        border: 6px solid #223439;
        background-size: cover;
    }
    .menu-cards p{
        padding: 24px;
        font-size: 18px;
        font-weight: bold;
    }
    .menu-card-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 8px outset #9E51A0;
        background-color: #e389e8;
        margin: 2vw 2vh 2vw 2vh;
        border-radius: 24px;
    }
    .menu-card-content a{
        text-decoration: none;
        color: white;
        border: 3px solid black;
        background-color: black;
        font-size: 24px;
        padding:10px 12px;
        margin-bottom: 16px;
        border-radius: 24px;
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    .menu-card-content a:hover{
        background-color: #223439;
        border: 3px solid #223439;
        color: #4a717b;
    }
    #menu-card2 img{
        width: 220px;
    }
    #menu-card1{
        grid-area: slot-1;
    }
    #menu-card2{
        grid-area: slot-2;
    }
    #menu-card5 img{
        
        height: 170px;
        background-size: cover;
    }
    #menu-card7 img{
        width: 72%;
    }
    .menu-cards h2{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', 
                    Arial, sans-serif;
    }
    .menu-cards p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                    'Lucida Sans', Arial, sans-serif;
    }
@media screen and (max-width:800px){
    body{
        background-color: red;
    }
    #navbar-content{
        display: flex;
        flex-direction: column;

    }
    #navbar-content img{
        display: flex;
        margin: auto;
    }
    #navbar-content a{
        font-size: 14px;
        padding: 2px;
        margin: 0px 0px 2vw 0px;
    }
    #navbar-bot a{
        font-size: 14px;
        padding: 6px 16px;
    }
    #hero h1{
        font-size: 32px;
    }
    #hero h3{
        font-size: 16px;
    }
    #hero a{
        font-size: 18px;
    }
    .info-box{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 60%;
    }
    #about-us h1{
        font-size: 28px;
    }
    .info-box p{
        font-size: 14px;
        width: 80%;
    }
    .info-box img{
        width: 70%;
    }
    .card-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cards{
        margin-top: 24px;

    }
    .cards h2{
        font-size: 20px;
    }
    .cards p{
        font-size: 14px;
        font-weight: bold;
    }
    #footer{
    }
    #footer-content a{
        display: flex;
        font-size: 14px;
        padding: 6px 14px;
        flex-direction: column;
        text-align: center;
        margin: 2px auto;
        justify-content: center;
    }
    .menu-cards{
        display: flex;
        flex-direction: column;
    }
    .menu-card-content{
        display:flex;
        width: 70%;
        min-width: 400px;
        max-width: 1000px;
        margin: 48px auto;
    }
    .menu-card-content h2{
        font-size: 22px;
    }
    .menu-card-content h3{
        font-size: 18px;
    }
    .menu-card-content p{
        font-size: 16px;
        width: 60%;
    }
    .menu-card-content a{
        font-size: 18px;
    }
}