*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#navbar{
    background-color: lightgray;
    border-bottom:3px solid black;
    
}
#navbar-content{
    display: flex;
    align-items: center;
    margin: 0px 2vh 0px 0px;
    background:
        linear-gradient(to top, rgb(123, 122, 122), rgb(34, 34, 59));
        border-bottom: 3px solid black;
}
#navbar-content a{
    text-decoration: none;
    border: 3px solid #9E51A0;
    padding: 8px 2px;
    font-size: 18px;
    margin-right: 24px;
    text-align: center;
    font-weight: bold;
    color: #223439;
    background-color: #9E51A0;
    min-width: 150px;
    border-radius: 12px;

}
#navbar-content a:hover{
    background-color: #b272b5;
    border: 3px solid #b272b5;
    color: #4a717b;

}
#navbar-content #logo{
    width:12px;
    margin-right:auto;
    margin-left: 24px;
    min-width: 150px;
    
}
#navbar-bot{
    display: flex;
    background:
        linear-gradient(to bottom, rgb(186, 84, 186), rgb(113, 62, 62));
    border-bottom: 3px solid black;
    justify-content: space-between;
    padding: 12px;
    border-top: 3px solid black;
}
#navbar-bot a{
    text-decoration: none;
    padding: 4px 24px;
    font-size: 16px;
    border: 3px solid black;
    margin: 0px auto;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-align: center;
    flex-wrap: wrap;

}
#navbar-bot a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: rgb(168, 165, 165);
}
#hero{
    background-image: url(../images/Hero.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    position: center center;
    height: 60vh;
    min-width: 481px;
    padding: 24px;
    margin: 0px auto;
    color:white;
}
#hero h1{
    font-size:48px;
}
#hero h3{
    font-size: 20px;
}
#hero a{
    text-decoration: none;
    border: 3px solid black;
    padding: 10px 38px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 4vh 9vw 0px 2vw;
    font-size: 24px;

}
#hero a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: #4a717b;
}
.info-box{
    border: 8px inset #9E51A0;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8vh;
    background-color: #e389e8;
}
.info-box h1{
    font-size: 38px;
    margin: 4vw 0px 2vh 0px;
}
.info-box p{
    text-align: center;
    padding: 24px;
    font-size: 18px;
}
.info-box img{
    border-radius: 24px;
    width: 80vh;
}
