*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#navbar{
    background-color: #223439;
    border-bottom:3px solid black;
    
}
#navbar-content{
    display: flex;
    align-items: center;
    margin: 0px;
    border-bottom: 3px solid black;
    background:
    linear-gradient(to top, rgb(123, 122, 122), rgb(34, 34, 59));
}
#navbar-content a{
    text-decoration: none;
    border: 3px solid #9E51A0;
    padding: 8px 2px;
    font-size: 18px;
    margin-right: 24px;
    text-align: center;
    font-weight: bold;
    color: #223439;
    background-color: #9E51A0;
    min-width: 150px;
    border-radius: 12px;

}
#navbar-content a:hover{
    background-color: #b272b5;
    border: 3px solid #b272b5;
    color: #4a717b;

}
#logo{
    width:12px;
    margin-right:auto;
    margin-left: 24px;
    min-width: 150px;
    
}
#navbar-bot{
    display: flex;
    background:
        linear-gradient(to bottom, rgb(186, 84, 186), rgb(113, 62, 62));
    border-bottom: 3px solid black;
    justify-content: space-between;
    padding: 12px;
    border-top: 3px solid black;
}
#navbar-bot a{
    text-decoration: none;
    padding: 4px 24px;
    font-size: 16px;
    border: 3px solid black;
    margin: 0px auto;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-align: center;
    flex-wrap: wrap;

}
#navbar-bot a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: rgb(168, 165, 165);
}
#hero{
    background-image: url(../images/Hero.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    position: center center;
    height: 60vh;
    min-width: 481px;
    padding: 24px;
    margin: 0px auto;
    color:white;
}
#hero h1{
    font-size:48px;
}
#hero h3{
    font-size: 20px;
}
#hero a{
    text-decoration: none;
    border: 3px solid black;
    padding: 10px 38px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 4vh 9vw 0px 2vw;
    font-size: 24px;

}
#hero a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: #4a717b;
}
.info-box{
    border: 8px inset #9E51A0;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8vh;
    background-color: #e389e8;
}
.info-box h1{
    font-size: 38px;
    margin: 4vw 0px 2vh 0px;
}
.info-box p{
    text-align: center;
    padding: 24px;
    font-size: 18px;
    max-width: 1000px;
}
.info-box img{
    border-radius: 24px;
    width: 60vw;
}
.card-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "slot1 slot2 slot3";
    text-align: center;
    padding: 30px;
}
.cards{
    border: 8px outset #9E51A0;
    width: 50%;
    margin: auto;
    background-color: #e389e8;
    max-width: 800px;
    min-width: 250px;
}
.cards img{
    display: flex;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 24px;
    border: 6px solid #223439;
}
.cards p{
    padding: 24px;
}
.card-content a{
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    border: 3px solid black;
    background-color: black;
    padding: 6px 48px;
    margin-bottom: 10px;
    font-size: 24px;
}
.card-content a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: #4a717b;
}
#card1{
    grid-area: slot1;
}
#card2{
    grid-area: slot2;
    border: 8px inset #9E51A0;
}
#card3{
    grid-area: slot3;
}
#footer-content{
    min-width: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px auto;
    border: 3px solid #9E51A0;
    background:
    linear-gradient(to bottom, rgb(186, 84, 186), rgb(113, 62, 62));
    padding: 10px;
}
#footer-a a{
    justify-content: space-between;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 3px solid black;
    padding: 10px 28px;
    margin: 24px;
    flex-wrap: wrap;
    border-radius: 10px;
}
#footer-a a:hover{
    background-color: #223439;
    border: 3px solid #223439;
    color: #4a717b;
}
    .menu-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "slot-1 slot-2 slot-3"
            "slot4 slot5 slot6"
            "slot7 slot8 slot9";
        width: 80%;
        margin: 0px auto;
        background-color: white;
        text-align: center;
        padding: 10px 32px;
    }
    .menu-cards img{
        width: 240px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 24px;
        border: 6px solid #223439;
        background-size: cover;
    }
    .menu-cards p{
        padding: 24px;
        font-size: 18px;
        font-weight: bold;
    }
    .menu-card-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 8px outset #9E51A0;
        background-color: #e389e8;
        margin: 2vw 2vh 2vw 2vh;
        border-radius: 24px;
    }
    .menu-card-content a{
        text-decoration: none;
        color: white;
        border: 3px solid black;
        background-color: black;
        font-size: 24px;
        padding:10px 12px;
        margin-bottom: 16px;
        border-radius: 24px;
    }
    .menu-card-content a:hover{
        background-color: #223439;
        border: 3px solid #223439;
        color: #4a717b;
    }
    #menu-card2 img{
        width: 220px;
    }
    #menu-card1{
        grid-area: slot-1;
    }
    #menu-card2{
        grid-area: slot-2;
    }
@media screen and (max-width:800px) {
    body{
        background-color: red;
    }
    #navbar-content{
        display: flex;
        flex-direction: column;
    }
    #navbar-content #logo{
        width: 60px;
        display: flex;
        flex-dire;

    }
    #navbar-content a{
        font-size: 16px;
        padding: 2px;
        margin: 0px 0px 2vw 0px;
    }
}