/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.card-style-3{
    display: flex;
    flex-direction: column;
    background: 
        radial-gradient(at center, rgb(250, 193, 70), yellow);
    border: 18px solid rgb(247, 193, 19);
    border-radius: 24px;
    max-width: 350px;
    min-width: 100px;
    min-height: 60vh;
    margin: auto;
    align-items: center;

}
.card-style-3 img{
    display: flex;
    justify-content: center;
    max-width: 350px;
    height: 22vh;
    border: 4px solid orange;
    
}
.card-style-3 .descriptin{
    background-color: white;
}
.pokemon-header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
}
.health{
    font-size: 18px;
    padding: 24px 5vw;
    justify-content: space-between;
    
}
.details {
    background: 
        radial-gradient(at center top, rgb(255, 220, 19), rgb(219, 162, 3));
        font-size: 12px;
        font-weight: bold;
        align-items: center;
        width: 300px;
        text-align: center;
        margin: 4px;
}
.attack{
    padding: 0px 14px;
    display: flex;
    justify-content: space-between;
    margin: 2vh 2vw 0px 0px;
    border-bottom: 1px solid ;
}
.description span{
    font-weight: bold;
    font-size: 20px;
}
.description{
    font-size: 14px;
    align-items: center;
    display: inline-block;
}
.power{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom
}
.data{
    display: flex;
    margin-top: 20px auto;
    font-size: 12px;
    text-align: center;
    border: 1px solid orange;
}
.energy{
    display: flex;
    justify-content:space-evenly;
    margin
}