body{
    background-color: rgb(210, 255, 196);
}
#Verdant-Dream{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#wine{
    width:600px;
    background-color:#7F2B34;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
}
#cordovan{
    width:600px;
    background-color: #8C2F39;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
    padding: 24px;
}
#redwood{
    width: 600px;
    background-color: #A63D40;
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 24px;
}
#bittersweet{
    width: 600px;
    background-color: #B55F61;
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 24px;
}
#old-rose{
    width: 600px;
    background-color: #BC6E6F;
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 24px;
}
#neon-colors{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
    font-weight: bold;
}
#Amber{
    width: 600px;
    background-color: #FFBE0B;
    color: black;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 24px;
}
#Orange{
    width: 600px;
    background-color: #FB5607;
    color: black;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 24px;
}
#Rose{
    width: 600px;
    background-color: #FF006E;
    color: white;
    text-align: center;
    font-family:sans-serif;
    padding: 24px;
}
#Blue-Violet{
    width: 600px;
    background-color: #8338EC;
    color: white;
    text-align: center;
    font-family:serif;
    padding: 24px;
}
#Azure{
    width: 600px;
    background-color: #3A86FF;
    color: white;
    text-align: center;
    font-family:monospace;
    padding: 24px;
}
#Steam{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
#Rich-Black{
    width: 600px;
    background-color: #171A21;
    color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 24px; 
}
#Maya-Blue{
    width: 600px;
    background-color: #66C0F4;
    color: black;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 24px;
}
#Prussian{
    width: 600px;
    background-color: #1B2838;
    color: white;
    text-align: center;
    font-family:cursive;
    padding: 24px;
}
#Indigo{
    width: 600px;
    background-color: #2A475E;
    color: white;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 24px;
}
#Columbia-Blue{
    width: 600px;
    background-color: #C7D5E0;
    color: black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding: 24px;
}