*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    margin: 0px
}
#first-box{
    background-color: #350f35;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 0px;
}
#first-product{
    text-align: center;
    color: white;
}
#image{
    width: 300px;
    padding: 10px;
}
#second-box{
    background-color: rgb(169, 120, 214);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 0px;
}
#second-product{
    text-align: center;
    
}
#third-box{
    background-color: #1b0f1b;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 0px;
}
div p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif
}
div h1{
    font-family:;
}
div p#footer{
    font-size: 25px;
    font-family: fantasy;
    color: white;
}
#footer-box{
    background-color: black;
    color: white;
    text-align: center;
    padding: 48px 0px;
    margin-bottom: 0px;
}