* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar{
    background: linear-gradient(
        to bottom, 
        rgb(221, 113, 59), 
        rgb(102, 57, 46));
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#navbar a{
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 
                'Trebuchet MS', sans-serif;
}
#navbar #logo{
    color: white;
    display:flex;
    margin-right:auto;
    padding: 10px;
    font-size: 24px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;

    
}
#navbar #cta-button{
    background-color: white;
    color: red;
    border-radius: 26px;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-weight: bold;
    
}
#layout{
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;

}
#header{
    position: sticky;
    top: 0px;
}
#navbar-bottom{
    background:linear-gradient(to bottom, yellowgreen, olive);
    display: flex;
    justify-content: space-between;
}
#navbar-bottom a{
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}
#footer{
    background:linear-gradient(
        to bottom, 
        rgb(221, 113, 59), 
        rgb(102, 57, 46));
    color: white;
    padding:12px;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer-navbar{
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#header2{
    position: sticky;
    top: 0px;
}
#layout2{
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#layout2 h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#layout2 p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
                sans-serif;
}
#logo2{
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar2{
    background: linear-gradient(
        to bottom, 
        rgb(227, 57, 57), 
        rgb(190, 190, 132));
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#navbar2 a{
    text-decoration: none;
    color: black;
    padding: 24px;
    font-size: 20px;
    font-weight: bold;
}
#navbar2 #logo2{
    margin-right: auto;
}
#navbar2 .cta-button{
    background-color: rgb(252, 191, 78);
    color: black;
    font-weight: bold;
    border-radius: 26px;
    padding: 16px;
    font-size: 20px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;
    
}
#logo2 img{
    width:50px;
    margin: 0px 20px 0px 2vh;
}
#header2{
    position: sticky;
    top: 0px;
}
#footer2{
    background: linear-gradient(
        to top, 
        rgb(227, 57, 57), 
        rgb(190, 190, 132));
    color: black;
    padding:12px;
    display: flex;
    flex-direction: column;

}
#footer2 a{
    text-decoration: none;
    color: black;
}
#footer-navbar2{
    width: 800px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
}
#footer-columns-navbar2 div {
    display: flex;
}
#footer-columns-navbar2 a {
    padding: 8px 0px;
}
#header3{
    position: sticky;
    top: 0px;
}
#layout3{
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#layout3 h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#layout3 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#logo3{
    color: white;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar3 h2{
    color: orange;
}
#navbar3{
    background-image: url(../images/Halloween-Hero.jpg);
    background-position: center center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#navbar3 h1{
    color: black;
}
#navbar3 h3{
    color: black;
    border-bottom: 3px solid black;
}
#navbar-mid3 img{
    width: 5%;
}
#header3{
    position: sticky;
    top: 0px;
}
#footer3{
    background-color: black;
    color: white;
    display: flex;
    padding: 24px;
}
#footer3 a{
    text-decoration: none;
    color: white;
}
#footer-navbar3{
    width: 800px;
    margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#footer-columns-navbar3 a {
    padding: 8px 0px;
}
#navbar-mid3{
    background-color:black;
    display: flex;
    border-bottom:3px solid #333333;
}
#navbar-mid3 a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
    margin: auto;
}
#navbar-mid3 h2{
    color: orange;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
#navbar-mid3 .cta-button{
    border: 3px solid orange;
    border-radius: 24px;
    background-color: orange;
    color: black;
    padding: 8px;
}
#navbar-bottom3{
    background:linear-gradient(to bottom, rgb(247, 224, 181), orange);
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
#navbar-bottom3 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px;
    align-items: center;
}
