* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar{
    background: linear-gradient(
        to bottom, 
        rgb(221, 113, 59), 
        rgb(102, 57, 46));
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#navbar a{
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar #logo{
    color: white;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    
}
#navbar .cta-button{
    background-color: white;
    color: red;
    border-radius: 26px;
    padding: 16px;
    font-size: 20px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;
    
}
#layout{
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;

}
#header{
    position: sticky;
    top: 0px;
}
#navbar-bottom{
    background:linear-gradient(to bottom, yellowgreen, olive);
    display: flex;
    justify-content: space-between;
}
#navbar-bottom a{
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}
#footer{
    background:linear-gradient(
        to bottom, 
        rgb(221, 113, 59), 
        rgb(102, 57, 46));
    color: white;
    padding:12px;
}
#footer a{
    text-decoration: none;
    color: white;
    display: flex;
    margin: 0px 4vw 0px 2vh;
}
#footer-navbar{
    width: 800px;
    margin: 0px auto;
    display: flex;
}
#header2{
    position: sticky;
    top: 0px;
}
#layout2{
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#layout2 h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#layout2 p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 
                sans-serif;
}
#logo2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar2{
    background: linear-gradient(
        to bottom, 
        rgb(163, 102, 102), 
        rgb(33, 14, 14));
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#navbar2 a{
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar2 #logo2{
    margin-right: auto;
}
#navbar2 .cta-button{
    background-color: white;
    color: red;
    border-radius: 26px;
    padding: 16px;
    font-size: 20px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;
    
}
#logo2 img{
    width:50px;
    margin: 0px 20px 0px 2vh;
}
#header2{
    position: sticky;
    top: 0px;
}
#footer2{
    background:linear-gradient(
        to bottom, 
        rgb(163, 102, 102), 
        rgb(33, 14, 14));
    color: white;
    padding:12px;
}
#footer2 a{
    text-decoration: none;
    color: white;
}
#footer-navbar2{
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar2 div {
    display: flex;
}
#footer-columns-navbar2 a {
    padding: 8px 0px;
}
#header3{
    position: sticky;
    top: 0px;
}
#layout3{
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#layout3 h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#layout3 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#logo3{
    color: white;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar3 h2{
    color: orange;
}
#navbar3{
    background-color: black;
    display:flex;
    align-items: center;
    
}
#navbar3 a{
    text-decoration: none;
    color: orange;
    padding: 24px;
    font-weight: bold;
}
#navbar3 img{
    width: 100px;
}
#navbar3 #logo3{
    margin: auto;
}
#navbar3 .cta-button{
    background-color: orange;
    color: black;
    border-radius: 26px;
    padding: 16px;
    font-size: 20px;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif;
    
}
#logo3 img{
    width:90px;
    display: flex;


}
#header3{
    position: sticky;
    top: 0px;
}
#footer3{
    background:linear-gradient(
        to bottom, 
        orange, 
        black);
    color: white;
    padding:24px;
}
#footer3 a{
    text-decoration: none;
    color: white;
}
#footer-navbar3{
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar3 div {
    display: flex;
    flex-direction: column;
}
#footer-columns-navbar3 a {
    padding: 8px 0px;
}
#navbar-bottom3{
    background:linear-gradient(to bottom, white, orange);
    padding: 10px;

}
#navbar-bottom3 a{
    text-decoration: none;
    color: black;
    padding: 12px 36px;
    font-weight: bold;
}
